*{
    font-family: Nunito, sans-serif;
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.forma{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    border: 1px solid gray;
    padding: 2em;
    text-align: center;
}

.forma p{
  line-height: 17px;
  font-size: 15px;
  
} 
.forma input{
  width: 75%;
  height: 35px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-style: solid;
  border-color: #eeeeee;
  font-size: 16px;
  color: black;
  display: block; 
  margin: auto;
}
textarea{
    width: 75%;
    height: 130px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-color: #eeeeee;
    display: block;
    margin: auto;
}
.contact{
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
}

#submit-btn{
    width: 75%;
    background-color: #03a9f4;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-width: 0px;
    border-style: outset;
    border-color: #767676;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
   
}

.harta{
    display: flex;
    flex-direction: column;
}

#reachus{
    text-align: left;
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
    color: #03a9f4;
}
.ikonat{
    display: flex;
    justify-content: start;
    width: 100%;
}
.ikonat .social-links a :first-child{
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(136, 127, 127);
    border-radius: 50%;
    padding: 0.1px;
    color: #03a9f4;
}


