*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*Home*/
.banner{
    position: relative;
    height: auto;
    width: 100%;
    background-image: url(cQPnt2.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    padding: 9px 6% 0;
    overflow: hidden;
  
  
    border: 2px solid #fff; 
    border-radius: 10px; 
}
.partition-11{
  display: flex;
  flex-direction: row;

}
.banner .rombi2{
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background:rgba(216, 207, 23, 0.741);
    transform: rotate(120deg);

}
 .content{
padding-top: 169px;
margin-right: 50px;
}
.content #Unlock{

font-size: 50px;
line-height: 1.2;
opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: 0.2s; 
}
.content h3{
    opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: 0.2s; 
}
#find{
    color: #009688;
      font-size: 50px;
      line-height: 1.2;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 0.2s; 
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background: rgb(94, 139, 32);
 
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 300;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.2s; 

}
 .shkallet{
   position: relative;
    width: 380px;
    height: 380px;
    transform: rotate(45deg);
    margin-top: 80px;

}
.shkallet .rombi{
    position: absolute;
    width: 100%;
    height: 100%;
    background:none;
    border: 25px solid #009688;
    box-shadow: -15px 15px 15px;
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay:0.3s ;
}
.shkallet .rombi img{
    position: absolute;
    max-width: 750px;
    transform: rotate(-45deg);
    top: -70px;
    left: -100px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navigationbar{
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(230, 230, 230);
}
.logo{
    width: 193px;
    height: 83px;
    cursor: pointer;
    margin-left:30px;
    

}
.navigationbar ul{
    margin-right: 50px;
}
.navigationbar ul li{
    list-style: none;
    display:inline-block ;
    margin: 0 20px;
position:relative;
}

.navigationbar ul li a{
    text-decoration: none;
    color:rgb(41, 37, 37);
    text-transform: uppercase;
}
.navigationbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.2s;
}
.navigationbar ul li:hover::after{
    width: 100%;

}

.container{
    max-width: 1170px;
    margin: auto;
}
  @media screen and (max-width: 768px) {
    .banner {
        height: auto;
        flex-direction: column;
    }

    .banner .rombi2 {
        width: 300px;
        height: 300px;
    }
    
.partition-11 {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 169px;
}

.shkallet {
  margin-top: 6em;
}

.shkallet .rombi {
  position: absolute;
  width: 70%;
  height: 70%;
  background: none;
  border: 25px solid #009688;
  box-shadow: -10px 10px 10px;
  opacity: 0;
  animation: zoomOut 1s ease forwards;
  animation-delay: 0.3s;
  transform: rotate(45deg);
}
    .content {
        padding-top: 50px;
        text-align: center;
      
    }

    #Unlock,
    #find,
    h3,
    .btn,
    .rombi,
    .shkallet {
        margin-left: 0;
    }

    .btn {
        margin: 20px auto;
    }

  .navigationbar {
      flex-direction: column;
      height: auto;
      padding: 15px 0;
  }

  .logo {
      margin-left: 15px;
  }

  .navigationbar ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
  }

  .navigationbar ul li {
      display: block;
      margin: 10px 0;
      position: relative;
      font-size: 17px;
       
  }

  .navigationbar ul li::after {
      display: none;
  }


  .navigationbar {
      padding: 10px 0;
      background-color: rgb(230, 230, 230); 
  }

  .logo {
      width: 120px; 
      height: 50px; 
  }

  .header-ul{
      margin-left: 15px;
  }

  .header-ul :first-child{
    margin-left: 0px;
  }

  .header-ul :nth-child(2){
    margin-left: 10px;
  }
  .header-ul :nth-child(3){
    margin-left: 10px;
  }
  .header-ul :last-child{
    margin-left: 10px;
  }
}
.slider-area h2 {
	text-align: center;
	font-family: impact;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 200px 0 30px 0;
  color: #009688;
}
.wrapper {
	display: flex;
	width: 100%;
	margin-bottom: 3em;
	overflow: hidden;
	border-radius: 180px;
	padding: 2.5rem;
	background: #ddd;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 15em;
  width: 150px;
  height: 150px;

}



.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    
}
@media screen and (max-width: 768px) {
  .footer-col {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-col h4::before {
    width: 30px;
  }
}
@keyframes zoomOut{
0%{
    transform: scale(1.1);
    opacity: 0;
}
100%{
    transform: scale(1);
    opacity: 1;
}
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);

  opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/*About Us*/
.banner2{
    height: auto;
    position: relative;
    width: 100%;
    background-image: url(cQPnt2.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;

    overflow: hidden;

}
.blloku1 {
  

    padding-right: 20px;
    display: flex;
    align-items: center; 
    flex-direction: row;
    background-image: linear-gradient(to right,#009688,white);
    height:16.26em;
    width: 100%;
   
  }

  .blloku2 {
    
    margin-bottom:6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    
    background-image: linear-gradient(to right,rgba(216, 207, 23, 0.741),white);

    height:19.26em;
    width: 100%;
   
  }
  .blloku2 img{
    opacity: 0.5;
    width: 120em;
    height: 100%;
     object-fit: cover;
  }
  .blloku1 img{
    opacity: 0.8;
    width: 45%;
    height:100%;
    margin-right: 0.5em;
    animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  }
  .texti{
    margin-left: 2.3em;
    margin-right: 2.3em;
    line-height: 1.5em;
    text-align: center;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  #ourvalues{
    font-size: 2.6em;
  }
  .data{
    width: 5em;
    height:5em;
  }
  .creativity{
    width: 5em;
    height:5em;
  }
  .inovacion{
    width: 5em;
    height:5em;
  }
  #ourstory{
    width: 40em;
    text-align: center;
  }
  #ourstorytitle{
    font-size: 2.5em;
    text-align: center;
    
  }
  .work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #work-title{
    margin-top: 2em;
    margin-bottom: -1.5em;
    font-size: 3em;
  }
  .tabelat{
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .tabela-2{
    padding: 5em;
    border-left: 2px solid #009688;
    border-right: 2px solid #009688;
    width: 33.3%;
    text-align: center;
  }
  .tabela-1{
    padding: 5em;
    width: 33.3%;
    text-align: center;
  }  
  .tabela-3{
    padding: 5em;
    width: 33.3%;
    text-align: center;
  }
  #parag1{
    text-align: center;
   line-height: 1.8em;
  }

  .tabela-1 h2,.tabela-2 h2, .tabela-3 h2{
    margin-bottom: 1em;
    color: #009688;

  }
  #why{

    margin-top: 1em;
   align-self: center;
   text-justify: inter-word;
   font-size:2.5em;
 
   animation: zoomOut 1s ease forwards;
   
  }

  .historia{
   
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .vitet{
    margin-left: 16em;
    animation: zoomOut 1s ease forwards;
    
  }

  .viti-2016 img{
    width: 12em;
    height: 12em;
  }
  .viti-2020 img{
    width: 12em;
    height: 12em;
  }
  .viti-2023 img{
    width: 12em;
    height: 12em;
  }
  .line{
    width: 0.1em;
    height: 30em;
    background-color: #24262b;
    margin-left: 8em;
    position: relative;
    margin-top: 0px;
    z-index: 1;
  }

  .dot-div{
    align-items: center;
  }

  .dot1, .dot2, .dot3{
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: black;
    margin-bottom: 10px;
    margin-left:7.55em;
    position: absolute;
    z-index: 2;
  }
  .dot1{
    margin-top: -28em;
  }
  .dot2{
    margin-top: -15em;
  }
  .dot3{
    margin-top: -3em;
  }
  .div-3{
    display: flex;
    flex-direction:column;
    animation: zoomOut 1s ease forwards;
    
  }
  .div-4{
  margin-bottom: 4.5em;
  margin-left: 7.5em;
  width:34em;
  line-height: 1.8em;
  }
.div-5{
  margin-bottom: 4.5em;
  margin-left: 7.5em;
width:34em;
line-height: 1.8em;
}
.div-6{
  
  margin-left: 7.5em;
  width:34em;
  line-height: 1.8em;
}

.services{
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 4em;

}

.services > div {
  flex: 0 0 48%;
  margin-bottom: 2em;
 
}
.services img{
  margin-left:5em;
  
}
.service-1, .service-2, .service-3, .service-4, .service-5, .service-6, .service-7, .service-8 {
  display: flex;
  direction: row;
 

}
#kl{
  margin-top: 2em;
  margin-left:3em;
}
#services{
  padding: 10px 28px;
  border:#24262b solid 1px ;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
   align-self: center;
   text-justify: inter-word;
   font-size:2.5em;
}

.meet{
  display: flex;
  flex-direction: column;
}
.join{
    display: inline-block;
    text-align: center;
    padding: 12px 30px;
    width: 20em;
    background: rgb(46, 122, 119);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 16px;
    margin-left: 2em;
    color: #eaeaea;
    
}
.team img{
width:50em;
height:32em;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

#meetourteam {
  text-align: center;
  font-size: 2.5em;
  border-bottom: 5px double;
  width: 10em;
  margin-bottom: 2em;
}


/*login-signup*/
.containerlog{
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: rgb(217, 223, 142);
  color:#fff; 
  display: flex ;
  align-items: center;
  justify-content: center;
}
.card{
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(121, 102, 18, 0.986);
  perspective: 1000px;
}
.inner-box{
  position: relative;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transition: transform 1s;
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(240, 168, 36, 0.8),rgba(100, 93, 0, 0.8)),url(background.jpg);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.card-back{
  transform: rotateY(180deg);

}
.card h2{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;

}
.input-box{
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
::placeholder{
  color: #fff;
  font-size: 12px;

}
button{
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.submit-btn1{
  position: relative;

}
.submit-btn1 ::after{
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;

}
span{
  font-size: 13px;
  margin-left: 10px;
  color: rgb(29, 36, 31);
}
.card .btn{
  margin-top: 70px;

}
.card a{
  color:  rgb(29, 36, 31);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;

}
