*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(cQPnt2.jpg);
background-size: cover;
background-position:center;
display: flex;
justify-content: space-between;
align-items: top;
padding: 1% 0.7% 0;
overflow: hidden;

}
.banner .rombi2{
    position: absolute;
    top: -25%;
    right: -25%;
    width: 20%;
    padding-bottom: 20%;
    background:rgba(216, 207, 23, 0.741);
    transform: rotate(120deg);

}
 .content{
padding-top: 169px;

}
.content h1{
font-size: 3vw;
line-height: 1.2;
opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: 0.2s; 
}
.content h3{
    opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: 0.2s; 
}
span{
    color: #009688;
}
.btn{
    display: inline-block;
    padding: 10px 28px;
    background: rgb(94, 139, 32);
 
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 300;
margin-left: 350px;
margin-top: 80px;
opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: 0.2s; 

}
 .shkallet{
position: relative;
width: 380px;
height: 380px;
transform: rotate(45deg);
margin-top: 80px;

}
.shkallet .rombi{
    position: absolute;
    width: 100%;
    height: 100%;
    background:none;
    border: 25px solid #009688;
box-shadow: -15px 15px 15px;
opacity: 0;
animation: zoomOut 1s ease forwards;
animation-delay:0.3s ;
}
.shkallet .rombi img{
    position: absolute;
    max-width: 750px;
    transform: rotate(-45deg);
    top: -70px;
    left: -100px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navigationbar{
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(230, 230, 230);
}
.logo{
    width: 193px;
    height: 83px;
    cursor: pointer;
    margin-left:30px;
    

}
.navigationbar ul{
    margin-right: 50px;
}
.navigationbar ul li{
    list-style: none;
    display:inline-block ;
    margin: 0 20px;
position:relative;
}

.navigationbar ul li a{
    text-decoration: none;
    color:rgb(41, 37, 37);
    text-transform: uppercase;
}
.navigationbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
left:0;
bottom: -10px;
transition: 0.2s;
}
.navigationbar ul li:hover::after{
    width: 100%;

}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    
}
@media (max-width: 768px) {
    .banner {
        padding: 2% 1%;
    }
}
@keyframes zoomOut{
0%{
    transform: scale(1.1);
    opacity: 0;
}
100%{
    transform: scale(1);
    opacity: 1;
}
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);

  opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}