@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;1,6..12,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navigationbar{
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(230, 230, 230);
}
.logo{
    width: 193px;
    height: 83px;
    cursor: pointer;
    margin-left:30px;
    

}
.navigationbar ul{
    margin-right: 50px;
}
.navigationbar ul li{
    list-style: none;
    display:inline-block ;
    margin: 0 20px;
position:relative;
font-family: sans-serif;
}

.navigationbar ul li a{
    text-decoration: none;
    color:rgb(41, 37, 37);
    text-transform: uppercase;
}
.navigationbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
left:0;
bottom: -10px;
transition: 0.2s;
}
.navigationbar ul li:hover::after{

    width: 100%;
}
.container{
    max-width: 1170px;
    margin: auto;
}


ul{
    list-style: none;
}

@media screen and (max-width: 768px) {
    .navigationbar {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }
  
    .logo {
        margin-left: 15px;
    }
  
    .navigationbar ul {
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center; 
    }
  
    .navigationbar ul li {
        display: block;
        margin: 10px 0;
        position: relative;
        font-size: 15px;
         
    }
  
    .navigationbar ul li::after {
        display: none;
    }
  
    .navigationbar {
        padding: 10px 0;
        background-color:  rgb(230, 230, 230);
    }
  
    .logo {
        width: 120px; 
        height: 50px; 
    }
  }
  
  
.banner2{
    height: auto;
    position: relative;
   
    background-image: url(cQPnt2.jpg);
    background-size: cover;
    background-position:center;
  

}

.banner2 .title{
    margin-left: 20%;
    margin-right: 20%;
    font-size:50px;
    margin-bottom: 15px; 
      
    text-align: center;
    color: rgb(131, 133, 27);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.nje{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 3em;
}

.dy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}
.tre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#nje{
   margin-bottom: 4.5em;
   margin-left: 7.5em;
   width:34em;
   line-height: 1.8em;
   
}
#dy{
    margin-bottom: 4.5em;
    margin-left: 7.5em;
    margin-right: 7.5em;
    width:34em;
    line-height: 1.8em;
}
#tre{
    margin-bottom: 4.5em;
    margin-left: 7.5em;
    width:34em;
    line-height: 1.8em;
}

.nje img{
    margin-bottom: 4em;
    border-radius: 100% ;
    border: 7px solid #679792;
    margin-left: 10%;
    width: 20em;
    height: auto;
}

.dy img{
    margin-bottom: 4em;
    border-radius: 100%;
    border: 7px solid #679792;
    width: 20em;
    height: auto;
}

.tre img{
    margin-bottom: 4em;
    border-radius: 100%;
    border: 7px solid #679792;
    margin-left: 10em;
    width: 20em;
    height: auto;
}
#h2{
    margin-left: 5em; 
    color: rgb(1, 97, 87);
}
@media screen and (max-width: 600px) {
    .nje, .dy, .tre {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    

    #nje, #dy, #tre, #h2 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .nje img, .dy img, .tre img {
        margin-left: 0;
        margin-right: 0;
        width: 70%;
        max-width: 20em;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .dy {
        flex-direction: column-reverse; 
        text-align: center;
    }

    #dy {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em; 
    }

    .dy img {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 20em;
        height: auto;
    }
}
.banner2 .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card_container .card {
    margin-top: 10%;
    max-width: 410px;
    border-radius: 20px;
    background: rgb(149, 115, 41);
    border: 0.5px solid #f1f5f9 !important;
    padding: 15px;
    position: relative;
    
    color: #e9ecef;
}



.user_content {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.user_content .post {
    font-size: 15px;
    color: #10f818;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    left: 16px;
}

.user_content .post::before {
    content: "";
    height: 1px;
    width: 15px;
    background: #10f818;
    position: absolute;
    top: 50%;
    left: -16px;
}

.fa-solid {
    color: #ffc107;
}

.transparent {
    color: transparent;
}

.user_content .about {
    color: #e9ecef;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    font-size: 13px;
}

.user_content .about .card:hover {
    color: #121314;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    font-size: 13px;
    border: 0.5px solid #121314  !important;
}

.card .roundbox {
    position: absolute;
    top: -20%;
    right: 10%;
    background:  rgb(149, 115, 41) !important;
    width: 130px;
    height: 130px;
    border: 1px solid #f1f5f9;
    border-radius: 50%;
    z-index: 333;
}


.card .img_box {
    position: absolute;
    top: -20%;
    right: 10%;
    z-index: 555;
}


.card .img_box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
}

.card .squarebox {
    height: 90px;
    width: 136px;
    background: rgb(149, 115, 41);
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 444;
}


.card_container .card:hover .about {
    color: #121314; 
   
}
.card_container .card:hover {
    background:rgb(201, 199, 196);
    color: #121314;
}

.card_container .card:hover .roundbox,
.card_container .card:hover .squarebox,
.card_container .card:hover .img_box {
    background: rgb(201, 199, 196);
    border-radius: 50%; 
    border-color: #121314;
}





.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    
}

@media screen and (max-width: 768px) {
    .footer-col {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .footer-col h4::before {
      width: 30px;
    }
  }